.editor-shader-inputs {
    background: var(--background-color);
    border-radius: var(--small-radius);
    padding: var(--normal-border) ;

    color: var(--secondary-text-color);
}

.editor-shader-inputs #ace-editor {
    box-sizing: border-box;
    padding-left: var(--large-gap);
    border: var(--large-border) solid var(--background-color);
    border-top: none;
}