.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  
  font-family: 'CaskaydiaCove Nerd Font', sans-serif;
  font-size: 14px;
}

html, body, #root{
  height: 100%;
}