
button {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: var(--normal-border) solid var(--primary-color);
    /*border: none;*/
    border-radius: var(--normal-radius);
    padding: var(--small-gap) var(--normal-gap);
    transition: var(--normal-transition);

    font-family: var(--font), sans-serif;
    font-size: var(--normal-font-size);
}

button:hover {
    border: var(--normal-border) solid var(--secondary-color);
}

.muted button, button.muted {
    background: none;
    color: var(--secondary-text-color);
    border: var(--normal-border) solid var(--secondary-text-color);
    border-radius: var(--normal-radius);
    transition: var(--normal-transition);
}

.muted button:hover, 
button.muted:hover {
    --secondary-text-color: var(--text-color);
}