.file-select-container {
    display: flex;    
    align-items: baseline;
    justify-content: center;
}

.custom-file-input {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--small-gap) var(--normal-gap);
    border: none;
    border-radius: var(--normal-radius);
    cursor: pointer;
    
    font-size: var(--small-font-size);
    transition: var(--normal-transition);
}

.custom-file-input:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.file-name {
    color: var(--secondary-text-color);
    margin-left: var(--small-gap);
    font-size: var(--small-font-size);
}