.custom-file-input {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--small-gap) var(--medium-gap);
    border: none;
    border-radius: var(--small-radius);
    cursor: pointer;
    display: inline-block;
}

.custom-file-input:hover {
    background-color: var(--secondary-color);
}

.file-name {
    color: var(--text-color);
    margin-left: var(--medium-gap);
    vertical-align: middle;
}