.folder-component-container {
    display: flex;
    flex-direction: column;
    
    --folder-radius: var(--normal-radius);
}

.folder-component-header {
    background: var(--background-color);
    cursor: pointer;
    padding: var(--small-gap) 0;
    border: var(--large-border) solid var(--background-color);
    border-radius: var(--folder-radius) var(--folder-radius) 0 0;
    transition: all var(--normal-transition);
}

.folder-component-header label {
    cursor: pointer;
}

.folder-component-header[data-expanded="false"] {
    background: var(--secondary-background-color);
    border-radius: var(--large-radius);
}

.folder-component-header:hover[data-expanded="false"] {
    background: var(--background-color);
}

.folder-children-container {
    border: var(--large-border) solid var(--background-color);
    border-top: none;
    padding: var(--normal-gap);
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
    border-radius: 0 0 var(--folder-radius) var(--folder-radius);
    transition: all var(--normal-transition);
}

.folder-children-container[data-expanded="false"] {
    opacity: 0;
    display: none;
}
