select {
    font-family: var(--font) sans-serif;
    font-weight: bold;
    font-size: var(--normal-font-size);
    border: var(--normal-border) solid var(--primary-color);
    border-radius: var(--normal-radius);
    background: none;
    color: var(--primary-color);
    outline: none;
    padding: calc(var(--small-gap)/2) var(--small-gap);
}
