.slider-component-container {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    align-items: center;
}

.slider-label-and-input-field{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    gap: var(--normal-gap);
}

.slider-label-and-input-field .tooltip-container {
    flex: 1;
}

.slider-label-and-input-field input {
    width: calc(var(--small-font-size) * 5);
    font-family: "CaskaydiaCove Nerd Font", sans-serif; 
    font-size: var(--small-font-size);
    border: var(--small-border) solid var(--primary-color);
    background-color: var(--background-color);
}

.uniform-slider {
    width: 100%;
    accent-color: var(--primary-color);
    background-color: var(--background-color);
    border: var(--normal-border) solid var(--primary-color) ;
    border-radius: var(--normal-radius);
    cursor: pointer;
    height: var(--normal-font-size);
    transition: all var(--normal-transition);
}

.uniform-slider:hover {
    background-color: var(--secondary-color);
}

input[type="range"].uniform-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /*height: calc(var(--normal-font-size) + var(--small-border));*/
    height: var(--normal-font-size);
    aspect-ratio: 1;
    background-color: var(--primary-color);
    border-radius: var(--normal-radius);
    transition: all var(--normal-transition);
}

input[type="range"].uniform-slider::-webkit-slider-thumb:hover {
    height: calc(var(--normal-font-size) + var(--small-border));
}

.slider-component-container input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}