:root {
    --large-gap: 14px;
    --normal-gap: 10px;
    --small-gap: 6px;
    
    --large-font-size: 24px;
    --normal-font-size: 16px;
    --small-font-size: 12px;
    
    --large-radius: 24px;
    --normal-radius: 12px;
    --small-radius: 6px;
    
    --large-border: 4px;
    --normal-border: 2px;
    --small-border: 1px;
    
    --long-transition: 400ms;
    --normal-transition: 200ms;
    --short-transition: 100ms;
    
    --font: 'CaskaydiaCove Nerd Font';
}

[data-theme="light"] {
    --primary-color: #3498db;
    --secondary-color: #d7fdff;
    --background-color: #ffffff;
    --secondary-background-color: #f1f1f1;
    --text-color: #1d1d1d;
    --secondary-text-color: #556067;
}


[data-theme="dark"] {
    --primary-color: #47a4e2;
    --secondary-color: #d7fdff;
    --background-color: #404040;
    --secondary-background-color: #2d2d2d;
    --text-color: #f1f1f1;
    --secondary-text-color: #838e98;
}