:root {
    --large-gap: 1.0rem;
    --normal-gap: 0.6rem;
    --small-gap: 0.4rem;
    
    --large-font-size: 1.6rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 0.9rem;
    
    --large-radius: 2rem;
    --normal-radius: 0.8rem;
    --small-radius: 0.4rem;
    
    --large-border: 5px;
    --normal-border: 2px;
    --small-border: 1px;
    
    --long-transition: 300ms;
    --normal-transition: 100ms;
    --short-transition: 50ms;
    
    --font: 'CaskaydiaCove Nerd Font', 'Fira Code', 'menlo', 'Courier New', monospace;
}

[data-theme="light"] {
    --primary-color: #3498db;
    --secondary-color: #d7fdff;
    --background-color: #e4ebec;
    --secondary-background-color: #f6f6f6;
    --text-color: #1e1e1e;
    --secondary-text-color: #7f766f;
    --contrast-color: #d25520;
}


[data-theme="dark"] {
    --primary-color: #1f4373;
    --secondary-color: #69b2c2;
    --background-color: #404040;
    --secondary-background-color: #2d2d2d;
    --text-color: #eaeaea;
    --secondary-text-color: #838e98;
    --contrast-color: #ff8142;
}