:root {
    --large-gap: 1.0rem;
    --normal-gap: 0.5rem;
    --small-gap: 0.2rem;
    
    --large-font-size: 2rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 0.8rem;
    
    --large-radius: 24px;
    --normal-radius: 12px;
    --small-radius: 6px;
    
    --large-border: 4px;
    --normal-border: 2px;
    --small-border: 1px;
    
    --long-transition: 400ms;
    --normal-transition: 200ms;
    --short-transition: 100ms;
    
    --font: 'CaskaydiaCove Nerd Font';
}

[data-theme="light"] {
    --primary-color: #3498db;
    --secondary-color: #d7fdff;
    --background-color: #f8f8f8;
    --secondary-background-color: #e5eaee;
    --text-color: #1e1e1e;
    --secondary-text-color: #7f766f;
    --contrast-color: #f46e3e;
}


[data-theme="dark"] {
    --primary-color: #47a4e2;
    --secondary-color: #d7fdff;
    --background-color: #404040;
    --secondary-background-color: #2d2d2d;
    --text-color: #eaeaea;
    --secondary-text-color: #838e98;
    --contrast-color: #ff8142;
}