.tooltip-container {
    position: relative;
    /*cursor: help;*/
}

/* Tooltip text hidden by default */
.tooltip-container::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%; /* Position above the container */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--small-gap);
    border-radius: var(--small-radius);
    white-space: nowrap;
    opacity: 0;
    transition: opacity var(--normal-transition);
    pointer-events: none;
    font-size: var(--small-font-size);
}

/* Show tooltip on hover */
.tooltip-container:hover::after {
    opacity: 1;
}