@import "Theme.css";

.uniforms-panel {
    flex: 1;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;

    box-sizing: border-box;
    padding: var(--normal-gap);
    gap: var(--normal-gap);

    background-color: var(--secondary-background-color);
}

.uniforms-components-container {
    flex: 1;
    padding: var(--normal-gap);
    gap: var(--normal-gap);
    
    display: flex;
    flex-direction: column;
}