.shader-canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
    padding: var(--normal-gap);
    gap: var(--normal-gap);
    
    background-color: var(--secondary-background-color);
}

.shader-canvas-file-selector-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

canvas {
    border-radius: var(--small-radius);
}