.shader-canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
    overflow-x: hidden;

    padding: var(--normal-gap);
    gap: var(--normal-gap);

    background-color: var(--secondary-background-color);
}

canvas {
    border-radius: var(--small-radius);
}

.shader-canvas-container[data-visible="false"] > *:not(.panel-header) {
    display: none;
}
