.shader-status-bar {
    font-size: var(--small-font-size);
    color: var(--secondary-text-color);
    padding: var(--small-gap);
    border-radius: var(--normal-radius);
    box-sizing: border-box;
    text-align: left;
    
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    
    align-self: stretch;
}

.shader-status-bar[data-success="false"]{
    background: var(--contrast-color);
    color: var(--background-color);
}

.shader-status-bar[data-success="true"]{
    background: var(--background-color);
}

.shader-status-file-errors-header{
    font-weight: bold;
}