.expander-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: var(--small-gap);
    word-break: break-word; /* Forces the text to break between words */
}

.expander-title:hover {
    color: var(--text-color);
    cursor: pointer;
}