
.panel-header {
    color: var(--secondary-text-color);
    position: relative;
}

.panel-header[data-visible="false"] h2{
    position: absolute;
    transform: rotate(90deg);
    transform-origin: calc(var(--small-font-size)/2) center;
    margin-top: var(--small-font-size);
}

.panel-header[data-visible="true"] {
    flex-direction: row;
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: var(--small-gap);
    position: relative;
}

.panel-header[data-visible="false"] {
    width: fit-content;
}

.panel-header h2 {
    flex: 1;
}

.panel-header[data-visible="true"] h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.panel-header svg {
    width: min-content;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-header svg:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 0;
    cursor: pointer;
}